<div > 
  <h1 class="my-4">Images</h1>
</div>

<!-- <div class="image-container" style="height: 500px; overflow: auto;"
      infiniteScroll
      [scrollWindow]="false"
      [infiniteScrollDistance]="0"
      (scrolled)="loadMoreImages()">
    <div class="item" *ngFor="let item of images">
      <div class="thumbnail">
        <img [src]="item.src.small" [alt]="item.alt" />
      </div>
      <div class="info">egjs</div>
    </div>
</div> -->

<ul class="gallery caption-1"  style="height: 500px; overflow: auto;"
infiniteScroll
[scrollWindow]="false"
[infiniteScrollDistance]="0"
(scrolled)="loadMoreImages()">
  <li *ngFor="let item of images">
    <figure>
    <a href="#">
      <img [src]="item.src.tiny" [alt]="item.alt" />
      <figcaption>
        <h1>Image Title</h1>
        <p>By: Someone</p>
      </figcaption>
    </a>
    </figure>
  </li>
</ul>

<div> 
  Test Bottom
</div>
